---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Jemima Crespin</h1>
			<p class="hero__text">
				Étudiante passionnée par le web et le digital, ma curiosité m'a poussée à réaliser divers projets. Je vous laisse les découvrir! </p>
			<Boton href="#" texto="En apprendre plus"/>
		</div>
    <img
		class="hero__img"
		src="https://files.catbox.moe/5d843o.png"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
