---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Outils Utilisés" /> </div>
</section>
<div class="scroll-container">
	<div class="scroll-content">
		<img src="./assets/python.png" alt="Image 1" class="scroll-image">
		<img src="./assets/ht2.png" alt="Image 2" class="scroll-image">
		<img src="./assets/css.png" alt="Image 3" class="scroll-image">
		<img src="./assets/sql.png" alt="Image 4" class="scroll-image">
		<img src="./assets/wordpress.jpg" alt="Image 5" class="scroll-image">
		<img src="./assets/ps.png" alt="Image 6" class="scroll-image">
		<img src="./assets/ai.png" alt="Image 7" class="scroll-image">
		<img src="./assets/pr.png" alt="Image 8" class="scroll-image">
		<img src="./assets/canva.png" alt="Image 9" class="scroll-image">
		
		<!-- DUPLICATION DU MÊME GROUPE POUR LE DÉFILEMENT CONTINU -->
		<img src="./assets/python.png" alt="Image 1" class="scroll-image">
		<img src="./assets/ht2.png" alt="Image 2" class="scroll-image">
		<img src="./assets/css.png" alt="Image 3" class="scroll-image">
		<img src="./assets/sql.png" alt="Image 4" class="scroll-image">
		<img src="./assets/wordpress.jpg" alt="Image 5" class="scroll-image">
		<img src="./assets/ps.png" alt="Image 6" class="scroll-image">
		<img src="./assets/ai.png" alt="Image 7" class="scroll-image">
		<img src="./assets/pr.png" alt="Image 8" class="scroll-image">
		<img src="./assets/canva.png" alt="Image 9" class="scroll-image">
	</div>
</div>

