---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jemima Crespin"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="À propos de moi " />
			<p class="about__text">
				Actuellement en école d’ingénieur et passionnée par les données et le digital, j’aime explorer et expérimenter de nouvelles choses. Grâce à ma curiosité et à mon parcours scolaire, j’ai réalisé différents projets en autodidacte, ce qui m’a permis de développer des compétences en informatique, notamment en développement web (Python, CSS, HTML, SQL) et en design (Photoshop, Illustrator). Et bien d’autres encore que je vous laisse découvrir juste en dessous !
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
